* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.App-header {
    .container-fluid {
        padding: 8px 16px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
            0 2px 10px 0 rgb(0 0 0 / 12%);
        position: relative;

        .row {
            display: flex;
            justify-content: space-between;

            .col {

                &:first-child {
                    align-self: center;

                    a {
                        text-decoration: none;
                        padding: 8px 16px;
                        font-size: 15px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;

                        color: #000000;
                        letter-spacing: 5px;

                        span {
                            font-weight: bold;
                        }

                        &:hover {
                            background-color: #ccc;
                        }
                    }
                }

                .App-header__about-list {
                    display: flex;
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: #000000;

                        li {
                            font-size: 15px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            padding: 8px 16px;
                            letter-spacing: 5px;

                            &:hover {
                                background-color: #ccc;
                            }
                        }
                    }
                }
            }
        }
    }

    .App-header__background-img {
        background: url('../images/architect/architect.jpg') center / cover no-repeat;
        height: 800px;
        max-width: 1500px;
        margin: 0px auto;

        display: flex;
        justify-content: center;
        align-items: center;

        .background-img__title {
            font-size: 36px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            letter-spacing: 4px;

            span {
                &:first-child {
                    padding: 8px 16px;
                    background-color: #2d2f30;
                    opacity: 0.75;
                }

                &:last-child {
                    font-weight: 400;
                }
            }
        }
    }
}

.Project {
    padding: 8px 16px;

    .container {
        .block {
            padding: 32px 16px;
            margin-left: -16px;

            .Project__title {
                font-weight: 400;
                font-size: 24px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 16px 0px;
                margin: 10px 0px;

                border-bottom: 1px solid #f1f1f1;
            }
        }

        .layout-1 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-areas:
                "h1 h2 h3 h4"
                "h5 h6 h7 h8";

            grid-gap: 16px;

            .layout-1__item {
                position: relative;

                &:first-child {
                    grid-area: h1;
                }

                &:nth-child(2) {
                    grid-area: h2;
                }

                &:nth-child(3) {
                    grid-area: h3;
                }

                &:nth-child(4) {
                    grid-area: h4;
                }

                &:nth-child(5) {
                    grid-area: h5;
                }

                &:nth-child(6) {
                    grid-area: h6;
                }

                &:nth-child(7) {
                    grid-area: h7;
                }

                &:last-child {
                    grid-area: h8;
                }

                .layout-1__img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                }

                p {
                    position: absolute;
                    top: 0;

                    font-size: 15px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: white;
                    padding: 8px 16px;
                    background-color: #000000;
                }

                .yellow {
                    display: flex;
                    position: absolute;
                    top: 0;

                    background-color: rgb(234, 234, 194);
                    width: 100%;
                    height: 100%;
                    opacity: 0;

                    &:hover {
                        opacity: 0.5;
                    }

                    .yellow__icon {
                        // justify-content: center;
                        height: 34px;
                        width: 34px;
                        margin: auto;
                    }
                }
            }
        }
    }
}

.About {
    padding: 8px 32px;

    .container {
        .About__title {
            padding-top: 32px;

            h1 {
                font-size: 24px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;

                padding: 16px 0px;
                margin: 10px 0px;
            }
        }

        .About__description {
            margin-top: 15px;
            margin-bottom: 47px;

            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 1.5;
        }

        .layout-2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-areas: "h1 h2 h3 h4";
            grid-column-gap: 16px;

            filter: grayscale(75%);

            .layout-2__item {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                &:first-child {
                    grid-area: h1;
                }

                &:nth-child(2) {
                    grid-area: h2;
                }

                &:nth-child(3) {
                    grid-area: h3;
                }

                &:last-child {
                    grid-area: h4;
                }

                .layout-2__img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;

                }

                .layout-2__detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;

                    .detail__one {
                        .detail__name {
                            font-weight: 400;
                            font-size: 24px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                            margin: 10px 0px;
                        }

                        .detail__position {
                            font-size: 15px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            opacity: 0.6;
                            // color: #b5b5b5;
                            // color: red;

                            margin: 15px 0px;
                        }

                        .detail__desc {
                            font-size: 15px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            margin: 15px 0px;

                        }
                    }

                    .detail__two {
                        .detail__btn {
                            font-size: 15px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            line-height: 1.5;

                            border: none;
                            width: 100%;
                            background-color: #f1f1f1;
                            padding: 8px 16px;
                            margin-bottom: 20px;

                            &:hover {
                                background-color: #ccc;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact {
    padding: 8px 32px 8px 32px;

    .container {
        .Contact__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            padding: 16px 0px;
            margin: 10px 0px;

            border-bottom: 1px solid #f1f1f1;

        }

        .contact__subtitle {
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            margin: 15px 0px;
        }

        .contact__get-data {
            input {
                width: 100%;
                border: 1px solid #ccc;
                padding: 8px;
                line-height: 1.5;
                font-size: 15px;
                margin-bottom: 16px;
            }

            // .contact__name {}

            // .contact__email {}

            // .contact__subject {}

            // .contact__comment {}

            .contact__send-btn {
                padding: 8px 16px;
                background-color: #000000;
                color: white;
                font-size: 15px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                line-height: 1.5;
                margin: 16px 0px;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: #ccc;
                    color: #000000;
                }
            }
        }
    }

    .contact__map {
        margin-top: 32px;
        background: url('../images/architect/map.jpg') center / cover no-repeat;
        height: 820px;
    }
}

.footer-app {
    padding: 16px 0px;
    text-align: center;
    background-color: #000000;

    p {
        margin: 15px 0px;
        color: white;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        a {
            color: inherit;
            font-family: inherit;

            &:hover {
                cursor: pointer;
                color: rgb(110, 204, 110);
            }
        }
    }
}