* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

$mycolor: #757575;

@mixin changeBR($color, $color-bgr) {
    color: $color;
    background-color: $color-bgr;
}

.app-header {

    .container {
        max-width: 1500px;
        margin: 0px auto;
        display: flex;
        justify-content: flex-end;

        i {
            font-size: 36px;
            padding: 8px 16px;

            &:hover {
                background-color: #ccc;
                cursor: pointer;
            }
        }
    }
}

.header-card {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;

    animation: topDown 0.6s;

    .icon-x {
        display: flex;
        justify-content: flex-end;

        i {
            color: #fff;
            font-size: 36px;

            padding: 8px 16px;

            &:hover {
                @include changeBR(#000, #ccc);
                cursor: pointer;
            }
        }
    }

    .list-bar {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;

        margin-top: 150px;


        li {
            list-style-type: none;

            a {
                font-size: 36px;
                padding: 8px 16px;
                color: $mycolor;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

@keyframes topDown {
    from {
        transform: translateY(-300px);
    }

    to {
        transform: translateY(0px);
    }
}