* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.show {
  display: block !important;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}
.container .layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
.container .layout .nav-left {
  grid-column: 1;
  grid-row: 1/span 3;
  height: 100%;
}
.container .layout .nav-left ::-webkit-scrollbar {
  width: 10px;
  background: lightgray;
}
.container .layout .nav-left ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
  /*or any height and color you want*/
}
.container .layout .nav-left .block {
  overflow: auto;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
}
.container .layout .nav-left .nav-left__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 4px;
  padding: 16px;
  margin: 10px 0px;
}
.container .layout .nav-left .nav-left__list-clothing {
  padding: 64px 0px;
  list-style-type: none;
}
.container .layout .nav-left .nav-left__list-clothing > li a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 8px 16px;
  display: inline-block;
}
.container .layout .nav-left .nav-left__list-clothing > li a:hover {
  background-color: #ccc !important;
  color: #000;
}
.container .layout .nav-left .nav-left__list-clothing > li:nth-child(3) a {
  color: #000;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean {
  padding: 12px 24px;
  display: none;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean .jean-list {
  list-style-type: none;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean .jean-list > li a {
  color: #757575;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean .jean-list > li a:hover {
  background-color: #ccc !important;
  color: #000;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean .jean-list > li:first-child a {
  color: #000;
  background-color: #f1f1f1;
}
.container .layout .nav-left .nav-left__list-clothing .sub-jean .jean-list > li:first-child a i {
  margin-right: 10px;
}
.container .layout .nav-left .nav-left__more {
  list-style-type: none;
}
.container .layout .nav-left .nav-left__more li a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 8px 16px;
  display: inline-block;
  width: 100%;
}
.container .layout .app-header {
  grid-column: 2/3;
  grid-row: 1;
}
.container .layout .app-header .content__header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin: 24px 0px;
}
.container .layout .app-header .content__header .header__name {
  font-size: 24px;
  line-height: 1.5;
}
.container .layout .app-header .content__header .header__buy {
  font-size: 24px;
  line-height: 1.5;
}
.container .layout .app-header .content__header .header__buy i:first-child {
  margin-right: 16px;
}
.container .layout .app-header .content__img {
  position: relative;
}
.container .layout .app-header .content__img .background__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .layout .app-header .content__img .content__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 48px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.container .layout .app-header .content__img .content__text .content__title {
  font-size: 64px;
  line-height: 1.5;
  margin: 10px 0px;
}
.container .layout .app-header .content__img .content__text .content__year {
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 10px 0px;
}
.container .layout .app-header .content__img .content__text .content__btn {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  border: none;
  background-color: #000;
  padding: 12px 24px;
  margin-top: 5px;
}
.container .layout .app-header .content__img .content__text .content__btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}
.container .layout .app-header .content__img .content__text .content__btn a {
  color: currentColor;
  text-decoration: none;
}
.container .layout main {
  grid-column: 2/3;
  grid-row: 2;
}
.container .layout main .content .content__numberItem {
  color: #757575;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0px;
}
.container .layout main .content .jeans-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas: "h1 h2 h3 h4" "h5 h6 h7 h8";
  grid-column-gap: 32px;
  grid-row-gap: 15px;
}
.container .layout main .content .jeans-layout .jean-item {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  position: relative;
}
.container .layout main .content .jeans-layout .jean-item:first-child {
  grid-area: h1;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(2) {
  grid-area: h2;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(3) {
  grid-area: h3;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(4) {
  grid-area: h4;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(5) {
  grid-area: h5;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(6) {
  grid-area: h6;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(7) {
  grid-area: h7;
}
.container .layout main .content .jeans-layout .jean-item:nth-child(7) .jean-price {
  color: rgb(200, 68, 68);
}
.container .layout main .content .jeans-layout .jean-item:last-child {
  grid-area: h8;
}
.container .layout main .content .jeans-layout .jean-item .jean-status {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  line-height: 1.5;
  background-color: #000;
  padding: 0px 8px;
}
.container .layout main .content .jeans-layout .jean-item .jean__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(75%);
}
.container .layout main .content .jeans-layout .jean-item .jean-icon {
  position: relative;
}
.container .layout main .content .jeans-layout .jean-item .jean-icon button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  color: #fff;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  padding: 8px 16px;
  background-color: #000;
  display: none;
}
.container .layout main .content .jeans-layout .jean-item .jean-icon button:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}
.container .layout main .content .jeans-layout .jean-item .jean-icon:hover .btn-hidden {
  display: block;
}
.container .layout main .content .jeans-layout .jean-item .jean-description {
  line-height: 1.5;
  margin-top: 15px;
  color: #757575;
}
.container .layout main .content .jeans-layout .jean-item .jean-price {
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: bold;
}
.container .layout main .subscribe {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #000;
  padding: 32px 16px;
}
.container .layout main .subscribe .subscribe__title {
  font-size: 36px;
  line-height: 1.5;
  margin: 10px 0px;
}
.container .layout main .subscribe .subscribe__subtitle {
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 0px;
}
.container .layout main .subscribe .subscribe__email input {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  padding: 8px;
  margin-bottom: 15px;
}
.container .layout main .subscribe .subscribe__btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background-color: #f44336;
  border: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}
.container .layout main .subscribe .subscribe__btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}
.container .layout .app-footer {
  grid-column: 2;
  grid-row: 3;
}
.container .layout .app-footer .footer-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas: "b1 b2 b3";
  grid-column-gap: 16px;
  padding: 64px 8px;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
}
.container .layout .app-footer .footer-layout .footer-item:first-child {
  grid-area: b1;
  text-align: center;
}
.container .layout .app-footer .footer-layout .footer-item:nth-child(2) {
  grid-area: b2;
  text-align: center;
}
.container .layout .app-footer .footer-layout .footer-item:last-child {
  grid-area: b3;
}
.container .layout .app-footer .footer-layout .footer-item .footer__title {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 0px;
}
.container .layout .app-footer .footer-layout .footer-item .form__subtitle {
  font-size: 12px;
  line-height: 1.5;
  margin: 12px 0px;
}
.container .layout .app-footer .footer-layout .footer-item .contact__form p input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}
.container .layout .app-footer .footer-layout .footer-item .contact__form .form__btn {
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
}
.container .layout .app-footer .footer-layout .footer-item .contact__form .form__btn:hover {
  background-color: #ccc;
  color: #000;
}
.container .layout .app-footer .footer-layout .footer-item .link-list {
  list-style-type: none;
}
.container .layout .app-footer .footer-layout .footer-item .link-list li a {
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  margin: 12px 0px;
  display: block;
}
.container .layout .app-footer .footer-layout .footer-item .contact-list,
.container .layout .app-footer .footer-layout .footer-item .payment-list {
  list-style-type: none;
  font-size: 12px;
}
.container .layout .app-footer .footer-layout .footer-item .contact-list li,
.container .layout .app-footer .footer-layout .footer-item .payment-list li {
  line-height: 1.5;
  margin: 12px 0px;
}
.container .layout .app-footer .footer-layout .footer-item .social-list {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  margin-top: 30px;
}
.container .layout .app-footer .footer-layout .footer-item .social-list li {
  margin-right: 3px;
}
.container .layout .app-footer .footer-copyright {
  background-color: #000;
  color: #fff;
  text-align: center;
}
.container .layout .app-footer .footer-copyright p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 24px 0px;
}
.container .layout .app-footer .footer-copyright p a {
  color: currentColor;
}

@media screen and (min-width: 740px) and (max-width: 1050px) {
  .container .layout .nav-left .block {
    width: 175px;
  }
}
@media screen and (max-width: 739px) {
  .container .layout .nav-left .block {
    width: 140px;
  }
}/*# sourceMappingURL=ClothingStore.css.map */